:root{
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.main-color {
background-color: #1d2e5a ;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.btn-info-layout
{
margin-bottom: 5px !important;
width: 100%;
}


